<html>
<head>
    <title>Search</title>
</head>
<body>
    <!-- <form action="/search/" method="get"> -->
    <!-- This removes the hardcoded url. Action: "" points to current url -->
    <form action="" method="get">
    	<!--
    	Action: points to a url. 
    	Method: GET/POST/PUT
    	Type: specifies the type of button/text-box
    	name: specifies the GET query key domain/url?q= 
    	value: specifies the text within the button-->
        <input type="text" name="q">
        <input type="submit" value="Search">
    </form>
    {% if errors %}
    <p style="color: red;">
        <ul>
            {% for error in errors %}
            <li>{{ error }}</li>
            {% endfor %}
        </ul>
    </p>
    {% endif %}
</body>
</html>